<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>华凌锋的blog</title>

    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-image:url(image/6597753662889761285.jpg)">
    <nav class="navbar navbar-inverse navbar-blog">
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">华凌锋的blog</a>
      </div>
      <div class="collapse navbar-collapse" id="global-navbar">
            <ul class="nav navbar-nav">
              <li><a href="#">首页</a></li>
              <li><a href="#" onclick="">其他</a></li>
              <li><a href="#" onclick="">其他</a></li>
              <li><a href="#" onclick="">其他</a></li>
              <li><a href="#" onclick="">其他</a></li>
              <li><a href="#" onclick="">其他</a></li>
          </ul>
      </div>
    </nav>
    <header class="container hear-blog">
      <div class="row">
        <div class="col-lg-8 col-lg-push-2 ">
          <h1>test page test page test page</h1>
          <h2>test page test page test page</h2>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-2">
          <div class="jumbotron black">
            <h1>Hi </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
          </div>
          <div class="jumbotron black">
            <h1>Hi </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
          </div>
          <div class="jumbotron black">
            <h1>Hi </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
          </div>
          <div class="jumbotron black">
            <h1>Hi </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
          </div>
        </div>
        <div class="col-lg-2 col-lg-push-2">
          <div class="list-group tag-sidebar">
            <a href="" class="tag-item">nodejs<span class="post-count">50</span></a>
            <a href="" class="tag-item">express<span class="post-count">45</span></a>
            <a href="" class="tag-item">bootsharp<span class="post-count">1</span></a>
            <a href="" class="tag-item">bower<span class="post-count">6</span></a>
            <a href="" class="tag-item">grunt<span class="post-count">6</span></a>
            <a href="" class="tag-item">html5<span class="post-count">123</span></a>
            <a href="" class="tag-item">css3<span class="post-count">5</span></a>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <script src="dist/js/jquery-1.11.2.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>